html {
    background-color: #595959;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 56%;
    margin: 0 auto;
         
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: black;
}
section {
    float: left;
    /*width: 500px;*/
}
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}

.TodaySale{
    width:500px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
    
}

.TodaysOrder{
    width:250px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
}

.TopProduct{
    width:500px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
    
}

.CustomerFul{
    width:250px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
}

.Earnings{
    width:250px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
    display: block;
    text-align: center;
}

.VisitorInsight{
    width:500px;
    height:200px;
    border-radius: 8px;
    margin: 10px;
    background-color: #999999;
}
.sub_sessions{
    width:100px;
    height:90px;
    float: right;
    margin:12px;
    border-radius: 5px;
    background-color: #737373;
    /*align-items: stretch;*/
    
}
/**/
  form {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 400px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /* Optional styling for the image upload input field */
  #fileToUpload {
    margin-top: 10px;
  }

  /* Styling for the images */
  .big-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .small-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* Styling for the image container */
  .image-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }

  .image-container > div {
    flex-basis: 33.33%;
    margin-right: 10px;
  }